html {
    background: black url("background.jpg") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color: white;
}

body {
    display: block;
    place-items: center;
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
    /*
        familia de fonturi, se pun mai multe fonturi, pentru a se misca 
        totul mai repede daca primul font nu este gasit, in cazul nostru Inter,
        atunci pagina se va randa cual doilea font, Helvetica, si asa mai departe
        sans-serif este o familie de fonturi universale
    */
    font-size: 24px;
    line-height: 1.5;
    /*
        unitatea de masura standard este em, deci in cazul nostru 1.5em, unde
        em inseamna font-size, adica la font size 24px si line height 1.5(em)
        avem o linie de inaltimea 36px
    */
}
@media (min-width:312px) { body{display:grid;} }

.Container{
    width: 90%;
    /*margin: 2vh auto;*/
    /*
        1 vh este 1% din inaltimea totala a ecranului, deci 2vh inseamna 2% din 
        inaltimea ecranului dispozitivului pe care se deschide site-ul.
        vh= viewport height
        keywordul auto face ca la marginile laterale sa fie un procent din
        latimea dispozitivului
    */
    background: rgba(0,102,255,0.9);
    /*
        rgba are ca un ultim parametru opacitatea, in cazul nostru 0.9 inseamna
        90% opacitate
    */
    padding: 1rem;
    /*
        padding este distanta dintre marginea containerului si continutul 
        containerului, 1 rem reprezinta marimea literei 
    */
    /*border-radius: 2rem;*/
    font-size: clamp(1rem,2vw,2rem);
    /*
        pentru a face site-ul responsive scrisul ar trebui ajustat la 
        marimea dispozitivului folosit, clamp este o funtie destul de noua,
        aceasta seteaza fontul la 2vw(2% din latimea dispozitivului, viewport
        width), dar in caz ca marimea 2vw( care este o marime variabila) scade sub
        1 rem( echivalent cu 1x font-size(definit in body)=24px) atunci font-sizeul
        din container va fi 1 rem(24px), in caz ca marimea 2vw depaseste 2 rem
        (2xfont-size(din body)=48) aceasta va ramane 2 rem.
    */
    line-height: 1.5em;
}
@media (min-width:400px) { .Container { margin: 2vh; padding: 2rem;
    border-radius: 2rem;}  }
    /*vh=viewport height
    vw=viewport width*/

@media (min-width:800px) { .Container { margin: 4vw; padding: 3rem;}  }
    

    header{  }
        .Avatar{
            display: block;
            /*linia asta semnifica impartirea acestei clase intr un block
            care nu este obturat de alte obiecte */
            /*float: left;*/
            /*punem imaginea in partea stanga*/
            width: 109px;
            height: auto;
            /*ajusteaza inaltimea imaginii in functie de raport original(height/width)
            si tine cont de width dat mai sus(100px)*/
            margin: 0 1em 0 0;
            /*
                marginile imaginii, sus, dreapta, jos, stanga
            */
            border-radius: 50%;
        }
        @media (min-width:300px) { .Avatar { float: left; }  }
        @media (min-width:900px) { .Avatar { width: clamp(130px,14vw,12rem);} }
        .TitlulPaginii{
            display: block;
            font-size: clamp(2rem,6vw,4rem);
            line-height: 1em;
            margin: 0;
        }
    /*asa ar trebui sa se scrie corect css, pe o singura
    lnie de cod*/
    main{ clear: both; }
        .ListaLinkuri{ display: block; margin: 0; padding: 0; border-top: 1px
            solid #fff; }
            /*evidentiem marginea de jos*/
            .ListaDescriere{ display: block; margin: 0; padding: 0; border-bottom:
            1px solid #fff}
                .ListaDescriereTitlu{  display: block; font-size: 1em; margin: 0; 
                    padding: 0; line-height: 1.5em;}
                .ListaDescriereText{  }
            .ListaItem{ display: block; margin: 0; padding: 0; border-bottom:
            1px solid #fff }
                .ListaLink{ display: block; padding:0.5em;color:#fff;
                text-decoration: none;}
                .ListaLink:hover {background: white; color: black;}
                    .ListaTitlu{ display: block; font-size: 1em; margin: 0; 
                        padding: 0; line-height: 1.5em;}
                    .ListaText{ white-space: nowrap; overflow:hidden;
                    text-overflow: ellipsis;}
                    /*white space nowrap nu lasa textul sa iasa
                    de pe un singur rand
                    overflow hidden daca textul iese din container
                    partea care iese se va ascunde
                    text-overflow ellipsis inlocuieste partea ascunsa
                    de overflow hidden cu "..."*/
    @media ( max-width: 300px ) and (min-width: 256px) 
    { header{ height:200px } }
    @media (min-width: 300px) and (max-width:900px) 
    { header{ height: 140px }}