html {background: black url("background.jpg") center center no-repeat fixed;
    -webkit-background-size: cover;-moz-background-size: cover;
    -o-background-size: cover;background-size:cover;
    color: white;}

body { display: block; place-items: center; margin: 0; 
font-family: Inter, Helvetica, Arial, sans-serif;
font-size: 24px; line-height: 1.5;
    @media (min-width:380px) {display:grid;} }

.Container{ width: 90%; background: rgba(0,102,255,0.9);
padding: 1rem; font-size:clamp(1rem,2vw,2rem); line-height: 1.5em;
    @media (min-width:400px){ margin: 2vh; padding: 2rem;
    border-radius: 2rem;}
    @media (min-width:800px){ margin: 4vw; padding: 3rem;}
    @media (min-width:1000px){width:75%;}}


    header{ 
        @media(max-width: 300px )and(min-width: 256px){height:200px} 
        @media(min-width: 300px)and(max-width:900px){height:140px}}
        .Avatar{ display: block; width: 109px; height: auto;
        margin: 0 1em 0 0; border-radius: 50%; 
        @media (min-width:300px){float: left; }  
        @media (min-width:900px){width: clamp(130px,14vw,12rem);}}
        .TitlulPaginii{ display: block; font-size: 
        clamp(2rem,6vw,4rem);line-height: 1em; margin: 0; }
    main{ clear: both; }
        .ListaLinkuri{ display: block; margin: 0; padding: 0; 
        border-top: 1px solid #fff; }
            .ListaDescriere{ display: block; margin: 0; padding: 0;
            border-bottom: 1px solid #fff}
                .ListaDescriereTitlu{display: block;font-size: 1em;
                margin: 0; padding: 0; line-height: 1.5em;}
                .ListaDescriereText{  }
            .ListaItem{ display: block; margin: 0; padding: 0; 
            border-bottom: 1px solid #fff }
                .ListaLink{ display: block; padding:0.5em;
                color:#fff; text-decoration: none;
                    &:hover{background: white;color: black;}}
                    .ListaTitlu{ display: block; font-size: 1em; 
                    margin: 0;padding: 0; line-height: 1.5em;}
                    .ListaText{white-space: nowrap;overflow:hidden;
                    text-overflow: ellipsis;}
    